.dropdown {
    display: flex;
    justify-content: center;
}

.radio-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.filter {
    width: 10rem;
    height: 5rem;
    display: flex;
    justify-content: space-between;
}