.list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  
}

.card {
  margin: 20px 25px;
  width: 360px
}

.icons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-size: 15px !important;
}