.MuiBottomNavigation-root-1 {
    background: transparent !important;  
}

.filter {
    margin-bottom: 2%;
    margin-top: 2%;
    font-size: 48px !important;  
}

.radio-button{
    border-bottom-width: 6px !important; 
    border-bottom-style: groove !important; 
    border-bottom-color: blue !important; 
    padding-bottom: 7%;
}

.MuiBottomNavigationAction-label-6{
    font-size: 0.9rem !important;
    
}
.MuiBottomNavigationAction-root-2{
    color:rgb(83, 82, 150) !important;
    
}

.common-style-for-cheak-box{
    font-size: 1.5rem !important;
    width: 10% ;
    height: 4rem ;
    border-radius: 20px !important;
    margin: 7% !important;
    white-space: nowrap !important;
    margin-top: 30px !important;
    background-color: rgb(147, 149, 235) !important;
    box-shadow: 6px 6px 6px  rgba(41, 0, 80, 0.5) !important; 
}

.different-cheak-box{
    margin-left: 10% !important;
}
.common-style-for-cheak-box:after{
    
    white-space: pre-wrap;
    color: black;
    font-size: 1rem;
    margin-right: 3rem;
    position: absolute;               
    top: 50%;                         
    transform: translate(0, -50%);
}

.wiFi:after  {
    content: "\A\A\A WiFi";
 }

 .paymentByCard:after  {
    content: "\A\A\A Card";    
 }

 .discounts:after  {
    content: "\A\A\A Discounts";   
 }
 .vegeterianMenu:after  {
    content: "\A\A\A Vegeterian";  
 }
 .liveMusic:after  {
    content: "\A\A\A Music";   
 }
 .businessLunch:after  {
    content: "\A\A\A Lunch";  
 }
 .alcohol:after  {
    content: "\A\A\A Alcohol";
 }
 .terrace:after  {
    content: "\A\A\A Terracce";   
 }
 .allNight:after  {
    content: "\A\A\A 24/7";
 }

