.MuiBottomNavigation-root-1 {
    background: transparent !important;  
}

<<<<<<< HEAD
.filter {
    border-bottom-width: 4px !important; 
    border-bottom-style: groove !important; 
    border-bottom-color: pink !important;
}
=======
/* .filter {
    
} */
>>>>>>> 7590784227266b807928a71e26146d7102f47bf6

.cheak-box {
    display: flex;
    justify-content: space-around !important;
    
}

.wiFi {
    font-size: 1.5rem !important;
    width: 10% ;
    height: 4rem ;
    border-radius: 20px !important;
    margin: 7% !important;
    margin-left: 10% !important;
    white-space: nowrap !important;
    margin-top: 30px !important;
    background-color: rgb(147, 149, 235) !important;
    
}
.paymentByCard {
    font-size: 1.5rem !important;
    width: 10% ;
    height: 4rem ;
    border-radius: 20px !important;
    margin: 7% !important;
    white-space: nowrap !important;
    margin-top: 30px !important;
    background-color: rgb(147, 149, 235) !important;
}

.discounts {
    font-size: 1.5rem !important;
    width: 10% ;
    height: 4rem ;
    border-radius: 20px !important;
    margin: 7%  !important;
    white-space: nowrap !important;
    margin-top: 30px !important;
    background-color: rgb(147, 149, 235) !important;
    
}
.vegeterianMenu {
    font-size: 1.5rem !important;
    width: 10% ;
    height: 4rem ;
    border-radius: 20px !important;
    margin: 7%  !important;
    margin-left: 10% !important;
    white-space: nowrap !important;
    margin-top: 30px !important;
    background-color: rgb(147, 149, 235) !important;
    
}
.liveMusic {
    font-size: 1.5rem !important;
    width: 10% ;
    height: 4rem ;
    border-radius: 20px !important;
    margin: 7%  !important;
    white-space: nowrap !important;
    margin-top: 30px !important;
    background-color: rgb(147, 149, 235) !important;
    
}
.businessLunch {
    font-size: 1.5rem !important;
    width: 10% ;
    height: 4rem ;
    border-radius: 20px !important;
    margin: 7% !important;
    white-space: nowrap !important;
    margin-top: 30px !important;
    background-color: rgb(147, 149, 235) !important;
    
}
.alcohol {
    font-size: 1.5rem !important;
    width: 10% ;
    height: 4rem ;
    border-radius: 20px !important;
    margin: 7%  !important;
    margin-left: 10% !important;
    white-space: nowrap !important;
    margin-top: 30px !important;
    background-color: rgb(147, 149, 235) !important;
    
}
.terrace {
    font-size: 1.5rem !important;
    width: 10% ;
    height: 4rem ;
    border-radius: 20px !important;
    margin: 7%  !important;
    white-space: nowrap !important;
    margin-top: 30px !important;
    background-color: rgb(147, 149, 235) !important;
    
}

.allNight {
    font-size: 1.5rem !important;
    width: 10% ;
    height: 4rem ;
    border-radius: 20px !important;
    margin: 7%  !important;
    white-space: nowrap !important;
    margin-top: 30px !important;
    background-color: rgb(147, 149, 235) !important;
    
} 

.wiFi:after  {
    content: "\A\A WiFi";
    white-space: pre-wrap;
    color: black;
    font-size: 1rem;
    margin-right: 3rem;
    position: absolute;               
    top: 50%;                         
    transform: translate(0, -50%);

 }

 .paymentByCard:after  {
    content: "\A\A Card";
    white-space: pre-wrap;
    font-size: 1rem;
    margin-right: 3rem;
    position: absolute;               
    top: 50%;                         
    transform: translate(0, -50%);
 }

 .discounts:after  {
    content: "\A\A Discounts";
    white-space: pre-wrap;
    color: black;
    font-size: 1rem;
    margin-right: 3rem;
    position: absolute;               
    top: 50%;                         
    transform: translate(0, -50%);
 }
 .vegeterianMenu:after  {
    content: "\A\A Vegeterian";
    white-space: pre-wrap;
    color: black;
    font-size: 1rem;
    margin-right: 3rem;
    position: absolute;               
    top: 50%;                         
    transform: translate(0, -50%);
 }
 .liveMusic:after  {
    content: "\A\A Music";
    white-space: pre-wrap;
    color: black;
    font-size: 1rem;
    margin-right: 3rem;
    position: absolute;               
    top: 50%;                         
    transform: translate(0, -50%);
 }
 .businessLunch:after  {
    content: "\A\A Lunch";
    white-space: pre-wrap;
    color: black;
    font-size: 1rem;
    margin-right: 3rem;
    position: absolute;               
    top: 50%;                         
    transform: translate(0, -50%);
 }
 .alcohol:after  {
    content: "\A\A Alcohol";
    white-space: pre-wrap;
    color: black;
    font-size: 1rem;
    margin-right: 3rem;
    position: absolute;               
    top: 50%;                         
    transform: translate(0, -50%);
 }
 .terrace:after  {
    content: "\A\A Terracce";
    white-space: pre-wrap;
    color: black;
    font-size: 1rem;
    margin-right: 3rem;
    position: absolute;               
    top: 50%;                         
    transform: translate(0, -50%);
 }
 .allNight:after  {
    content: "\A\A 24/7";
    white-space: pre-wrap;
    color: black;
    font-size: 1rem;
    margin-right: 3rem;
    position: absolute;               
    top: 50%;                         
    transform: translate(0, -50%);
 }

