.main {
    display: flex;
    justify-content: space-around;
}

.advertising {
    height: 150px;
    margin-bottom: 5px;
    margin-top: 2px;
}

.menu {
    position: sticky;
    top: 0;
    width: 380px;
    height: 500px;
    margin-left: 20px;
    padding: 10px;
    border: 2px double black;
    border-radius: 50px;
    min-width: 250px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
}

.cafe-list {
    width: 75%;
}

.loading {
    display: flex;
    justify-content: center;
    margin-top: 22%;
}

.plus-button {
    width: 10%;
    position: sticky;
    bottom: 30px;
    margin-left: 90%;
    /* left: 20px; */
}

.toolbar {
    display: flex;
    justify-content: space-between;
}

.header-popup {
    display: flex;
    flex-direction: row;
}

.header-information {
    margin-top: 8px !important;
}

.list {
    display: flex !important;
    justify-content: space-around !important;
    margin-top: 35px !important;
}
